/* 
Color Pallete        #defcf9 #cadefc  #c3bef0  #cca8e9
*/


body {
    height: 100vh;
    background-color:  #769beb;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222F53;
    border: 5px;
    border-color: #4B919E;
  }
  
  div{
  height: 35px;
  font-size: 16px;
  }
  
  .container {
      
  }
  
  