/* 
Color Pallete        #defcf9 #cadefc  #c3bef0  #cca8e9
*/


.exampleColor {
  color: #defcf9;
  border-color: #cadefc;
  background-color: #c3bef0;
  border-color: #cca8e9;
}

body {
    height: 100vh;
    background-color:  #cadefc;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cca8e9;
    border: 5px;
    border-color: #4cca8e9;
  }
  
  div{
  height: 35px;
  font-size: 16px;
  }
  
  .container {
      
  }
  
  